.navbar {
    background: red;
    height: 70px;
}

.texto-animado {
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(270deg, green, lime, cyan, blue, cyan, lime);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: degrade 9s ease infinite;
}

@keyframes degrade {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.AGasto {
  margin-top: 40px;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  border-radius: 14px;
  cursor: pointer;

  background: linear-gradient(270deg, green, lime, cyan, rgb(61, 100, 199), cyan, lime);
  background-size: 400% 400%;
  color: #000;

  animation: animarDegrade 9s ease infinite;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.AGasto:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(0,255,200,0.7);
}

@keyframes animarDegrade {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.Gastos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  background: none;
}

.carDG {
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.data {
  margin-left: 30px;
}

.bot1 {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    margin-top: 50px;
    margin-left: 20px;
}

.bot2 {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    margin-top: 50px;
    margin-left: 20px;
}

.card {
  width: 800px;
  background: rgb(190, 235, 221);
  border: none;
}

.tipo1 {
  display: flex;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width:fit-content;
  text-align: center;
  justify-content: center;
  height: 22px;
  font-size: 14px;
  background: rgba(172, 255, 47, 0.458);
}

.GranaData {
  display: flex;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 600px;
  height: 400px;
  align-items: center;
}

.modal-close {
  float: right;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 560px;
  margin-top: 5px;
}

.descricao{
  width: 650px;
  height: 120px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 1px 5px;
}

.modalR{
  width: 400px;
  height: 200px;
  margin-bottom: 40px;
  display:grid;
  justify-content: center;
  align-items: center;
}


.tituloR {
  text-align: center;
  margin-bottom: 15px;
}

.dados {
  width: 500px;
  background: none;
}

.GranaDataInp {
  display: flex;
  justify-content: space-between;
}

.paginaR {
  margin-left: 20px;
  margin-right: 20px;
  background: none;
  height: 1000px;
}

body {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://img.pikbest.com/wp/202343/old-vintage-paper-texture-green-backdrop-capturing-the-charm-of-aged_9939901.jpg!f305cw");
  background-size: cover;
  background-repeat: no-repeat;
}